.gradient-custom-2 {
  background: #fccb90;

  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

span {
  position: absolute;
  padding-bottom: 20px;
  margin-left: 18px;
}

.title {
  font-size: 24px;
}
.form-outline1 {
  background-color: #fccb90;
}

.main-title {
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: poppins;
  background-image: linear-gradient(49deg, #ee9a5f, #d3373a, #c43a6f);
  -webkit-background-clip: text;
  color: transparent;
}
.login-img {
  height: 30px;
}
.main {
  padding-top: 0px;
}
